#truck .sky
{
    background-image:url("../assets/backgrounds/sky-bg-jungle.png");
    animation: trackmove linear 80s infinite;
} 
#truck .sk2
{
    background-image:url("../assets/background_decorations/bootcamp-bg.png");
    animation: trackmove linear 80s infinite;
} 
#truck .track
{
    height:20%;
    bottom:-2px;
    left:0px;
    background-image:url("../assets/roads/terrain-forest-ground.jpg");
    animation: trackmove linear 50s infinite;
}
#truck .track2
{
        bottom:15px;
        left:0px;
        height:80px;
        background-image: url("../assets/roads/terrain-forest-surface.png");
        animation: trackmove linear 50s infinite;
}
#truck .cars
{
    height: 90px;
    width: 189px;
    background-image:url("../assets/cars/chassis-bigfinger.png");
    bottom: 87px;
    left: 38%;
    animation: carshake linear 2s infinite;
}
#truck .wheel1 img
{
    height: 70px;
    top: 30px;
    left: -12px;
    animation: movingtire linear 2.4s infinite;
}
#truck .wheel2 img
{
    height: 70px;
    top: 30px;
    left: 125px;
    animation: movingtire linear 2.4s infinite;
}
@keyframes truckmovingtire{
    0%
    {
        transform:rotate(0deg);
    }
    100%
    {
   transform:rotate(-360deg);
    }
}
@keyframes truckrun
{
    0%
    {
        transform:translate(0px,0px);
    }
    10%
    {
        transform:translate(-10vw,2px);
    }
    25%
    {
        transform:translate(50vw,2px);
    }
    50%
    {
        transform:translate(125vw,1px);
    }
    51%
    {
        left:-100px;
    }
    100%
    {
        transform:translate(0vw,0px);
        
    }
}